<div class="navbar">

  <div class="left-section">

    <button class="menu-btn">
      ☰
    </button>

    <div class="search-box">

      <input
        type="text"
        placeholder="Search Accounts, Orders, Positions..." />

      <span>🔍</span>

    </div>

  </div>

  <div class="right-section">

    <div class="clock">

      🕒 {{ currentTime }}

    </div>

    <div class="notification">

      🔔

      <span class="badge">
        5
      </span>

    </div>

    <div class="profile">

      <div class="avatar">
        M
      </div>

      <div class="user-info">
        <h4>Mubin</h4>
        <p>Admin</p>
      </div>

    </div>

  </div>

</div>